.newProjectContainer {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.newProjectContainer h1 {
    margin-bottom: .5em;
    text-align: center;
}

.newProjectContainer p {
    color: #4e4e4e;
}